a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.css-1seqhu9 {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.css-1o3v5ug {
  background-color: transparent;
  margin: 1.5rem 0px;
  padding: 1rem 0;
}

@media (min-width: 25rem) {
  .css-1o3v5ug {
    margin: 0px 0px 1.5rem;
    padding: 0px 0 1rem;
  }
}

@media (min-width: 63rem) {
  .css-1o3v5ug {
    margin: 0px 0px 1.5rem;
    padding: 1rem 0;
  }
}

.css-79elbk {
  position: relative;
}

.css-12qz3pc {
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: rgb(255, 255, 255);
  border: 0.125rem solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  display: block;
  left: 0px;
  line-height: 1;
  padding: 0.75rem;
  position: absolute;
  text-decoration: none;
  top: 0px;
  z-index: 10;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-12qz3pc {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 37.5rem) {
  .css-12qz3pc {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.css-12qz3pc:not(:focus):not(:active) {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 0px;
}

.css-110y4y1 {
  position: relative;
  z-index: 0;
  color: rgb(20, 20, 20);
  margin: 0px;
  padding: 0px;
}

@media (min-width: 37.5rem) {
  .css-110y4y1 {
    margin-top: 1.5rem;
  }
}

@media (min-width: 63rem) {
  .css-110y4y1 {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 37.5rem) {
  .css-110y4y1 {
    margin: 0px 0px 1rem;
  }
}

.css-a5e1ct {
  margin: 0px;
  padding: 0px;
  scroll-margin-top: 1rem;
}

.css-j7qwjs {
  display: flex;
  flex-direction: column;
}

.css-127x8fy {
  display: flex;
  flex-flow: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2.75rem;
  -webkit-box-align: baseline;
  align-items: baseline;
}

@media (min-width: 37.5rem) {
  .css-127x8fy {
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}

.css-17vg121 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  margin: 1rem 0px;
  padding-right: 0.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-17vg121 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    font-size: 1.4375rem;
    line-height: 2rem;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    margin: 0px;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    padding-right: 1rem;
  }
}

.css-64y6r {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.css-qj66n0 {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #fafafa;
  border: none;
  border-radius: 0.5rem;
}

.css-i87o2a {
  position: relative;
  width: 4.7rem;
}

.css-i87o2a > div {
  padding-bottom: 56.25%;
}

@media (min-width: 25rem) {
  .css-i87o2a {
    width: 6.8rem;
  }
}

@media (min-width: 37.5rem) {
  .css-i87o2a {
    width: 7.5rem;
  }
}

.css-6cb6xm {
  width: calc(100% - 7.5rem);
  padding: 0px 0.5rem;
}

@media (max-width: 24.9375rem) {
  .css-6cb6xm {
    width: calc(100% - 5rem);
  }
}

@media (min-width: 37.5rem) {
  .css-6cb6xm {
    padding: 0px 1rem;
  }
}

.css-pgata9 {
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  color: rgb(20, 20, 20);
  margin: 0px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-pgata9 {
    font-size: 0.9375rem;
    line-height: 1.4375rem;
  }
}

@media (min-width: 37.5rem) {
  .css-pgata9 {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.css-7tw9s9 {
  position: static;
  color: rgb(20, 20, 20);
  text-decoration: none;
  overflow-wrap: break-word;
  text-align: left;
}

.css-mcqrb5 {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 0px;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.css-1seqhu9 {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.css-1o3v5ug {
  background-color: transparent;
  margin: 1.5rem 0px;
  padding: 1rem 0;
}

@media (min-width: 25rem) {
  .css-1o3v5ug {
    margin: 0px 0px 1.5rem;
    padding: 0px 0 1rem;
  }
}

@media (min-width: 63rem) {
  .css-1o3v5ug {
    margin: 0px 0px 1.5rem;
    padding: 1rem 0;
  }
}

.css-79elbk {
  position: relative;
}

.css-12qz3pc {
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: rgb(255, 255, 255);
  border: 0.125rem solid rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  display: block;
  left: 0px;
  line-height: 1;
  padding: 0.75rem;
  position: absolute;
  text-decoration: none;
  top: 0px;
  z-index: 10;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-12qz3pc {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 37.5rem) {
  .css-12qz3pc {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.css-12qz3pc:not(:focus):not(:active) {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 0px;
}

.css-110y4y1 {
  position: relative;
  z-index: 0;
  color: rgb(20, 20, 20);
  margin: 0px;
  padding: 0px;
}

@media (min-width: 37.5rem) {
  .css-110y4y1 {
    margin-top: 1.5rem;
  }
}

@media (min-width: 63rem) {
  .css-110y4y1 {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 37.5rem) {
  .css-110y4y1 {
    margin: 0px 0px 1rem;
  }
}

.css-a5e1ct {
  margin: 0px;
  padding: 0px;
  scroll-margin-top: 1rem;
}

.css-j7qwjs {
  display: flex;
  flex-direction: column;
}

.css-127x8fy {
  display: flex;
  flex-flow: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2.75rem;
  -webkit-box-align: baseline;
  align-items: baseline;
}

@media (min-width: 37.5rem) {
  .css-127x8fy {
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}

.css-17vg121 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  margin: 1rem 0px;
  padding-right: 0.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-17vg121 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    font-size: 1.4375rem;
    line-height: 2rem;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    margin: 0px;
  }
}

@media (min-width: 37.5rem) {
  .css-17vg121 {
    padding-right: 1rem;
  }
}

.css-64y6r {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.css-qj66n0 {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #fafafa;
  border: none;
  border-radius: 0.5rem;
}

.css-i87o2a {
  position: relative;
  width: 4.7rem;
}

.css-i87o2a > div {
  padding-bottom: 56.25%;
}

@media (min-width: 25rem) {
  .css-i87o2a {
    width: 6.8rem;
  }
}

@media (min-width: 37.5rem) {
  .css-i87o2a {
    width: 7.5rem;
  }
}

.css-6cb6xm {
  width: calc(100% - 7.5rem);
  padding: 0px 0.5rem;
}

@media (max-width: 24.9375rem) {
  .css-6cb6xm {
    width: calc(100% - 5rem);
  }
}

@media (min-width: 37.5rem) {
  .css-6cb6xm {
    padding: 0px 1rem;
  }
}

.css-pgata9 {
  font-family: UbuntuSans, Bornomala, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  color: rgb(20, 20, 20);
  margin: 0px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 20rem) and (max-width: 37.4375rem) {
  .css-pgata9 {
    font-size: 0.9375rem;
    line-height: 1.4375rem;
  }
}

@media (min-width: 37.5rem) {
  .css-pgata9 {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.css-7tw9s9 {
  position: static;
  color: rgb(20, 20, 20);
  text-decoration: none;
  overflow-wrap: break-word;
  text-align: left;
}

.css-mcqrb5 {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 0px;
}

.css-1jir9cx {
  position: relative;
  height: 0px;
}

.most-read-img-wrapper {
  overflow: hidden;
}
