.image-loading {
  filter: blur(10px);
  /* background-color: #f1f5f9; */
  background-color: transparent;
}

.image-loaded {
  filter: blur(0px);
  background-color: transparent;
}

.blur-image-transition {
  transition:
    filter 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  will-change: filter;
}
