.header-skeleton__lang-toggle {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 3px;
  gap: 2px;
}

.header-skeleton__hamburger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  padding: 8px;
  border-radius: 50%;
  flex: 0 0 auto;
}

@media (max-width: 599px) {
  .header-skeleton__hamburger {
    border-radius: 0;
    height: 64px;
    width: 64px;
    margin: -14px -16px -14px 0;
    padding: 0;
  }
}

@media (min-width: 1390px) {
  .header-skeleton__hamburger {
    display: none;
  }
}
